.artist_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collection_section{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}