.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
